target
filesAnalyzer.py
.venv
CMakeCache.txt
cmake_install.cmake
CMakeFiles
build/Makefile
libgps.a
build/
pyvenv.cfg
*.pyc
*.so
*.o
*_wrap.c
*.swp
edc.py
gps.py
gpsmain.py
sbp.py
.vscode
*.avi
mbed
mbed-os
mcp2515
Servo
__pycache__
*.qmake*
*.user
build-udp_mc_arm*
build_win_64/
