<!doctype html>

<!-- The style information -->
<style>
  <!--This code makes the body-->
  body {
    background-color: white;
  }
  <!--This code makes the header-->
  h1 {
    color: white;
    text-align: center;
  }
  <!--This code makes the paragraph-->
  p {
    font-family: verdana;
    color:black;
    font-size: 20px;
  }
  <!--This code makes the separation/grouping of two paragraphs-->
  div {
    color:black;
    font-size: large;
    font-family: comic sans;
  }
  </style>


<!--This code makes the title of the webpage-->
<head>
  <title>Webcam Streamer</title>
</head>

<!-- This code makes the body-->
<body>
  <!--Code to tell the browser to send data via server-->
  <form method="post" action='/'>
    <!--Code for inserting logo-->
    <img src={{url_for('static',filename="logo.png" )}} style="width: 200px;">
    
    <!--Allows you to zoom in or out of video-->
    <div>
      <!--Set up frame to where the video is-->
      Zoom: <input type="range" id="zoomslider" name="zoomslider" min="100" value="{{videowidth}}" max="{{maxframesize*2}}" >
      <!--Used to tell you how big the video is-->
      <span id="zoomvalue">{{ videowidth }}</span>px
      <!--Button for "Same as frame size"-->
      <button id='zoomtoframesize'>Same as Frame Size</button>

    </div>


    <div>
      <!--Where you get the video feed from for the url, url is a placeholder-->
      <img id="videoframe" src="{{ url_for('video_feed') }}" style="width: {{videowidth*activestreams}}px;">
      <!--Java script for variables being used-->
      <script>
        const zoomslider = document.getElementById('zoomslider');
        const zoomvalue = document.getElementById('zoomvalue');
        const videoframe = document.getElementById('videoframe')
        const zoomtoframesize = document.getElementById('zoomtoframesize')
        zoomtoframesize.addEventListener('click', () => {
          console.log('click')
          zoomslider.value = frameslider.value
          zoomvalue.textContent = frameslider.value
          videoframe.style.width = frameslider.value * {{activestreams}} + 'px'
        })
        zoomslider.addEventListener('change', () => {
          zoomvalue.textContent = zoomslider.value
          videoframe.style.width = zoomslider.value * {{activestreams}} + 'px'
          // videoframe.style.width = screen.width + 'px'
        })
      </script>
    </div>

    <!--Tells you if camera/cameras is connected or not-->
    <div>
      <!--Connects the camera-->
      Cameras Connected: {{ camerasconnected }}
      <!--Tells you what action was just done-->
      Active Streams: {{ activestreams }}
    </div>
    
    <!--Slider button to controls the quality of the video-->
    <div>
      Quality of Encoded Image:
      <input type="range" min="1" max="100" value="{{ encodingquality }}" id="qualityslider" name="qualityslider">
      <span id="qualityvalue">{{ encodingquality }}</span>%
      <!--Send quality button-->
      <input type="submit" name="qualitysubmit" value="Send Quality">
      <script>
        const qualityslider = document.getElementById('qualityslider');
        const qualityvalue = document.getElementById('qualityvalue');
        qualityslider.addEventListener('change', () => {
          qualityvalue.textContent = qualityslider.value;
        })
      </script>
    </div>

    <!--Controls the size of frame-->
    <div>
      Frame Size:
      <!--Set the frame-->
      <input type="range" id="sizeslider" min="60" max="{{ maxframesize }}" value="{{ framesize }}" name="sizeslider">
      <span id='framesizevalue'> {{framesize}}</span>px
      <script>
        const frameslider = document.getElementById('sizeslider');
        const framevalue = document.getElementById('framesizevalue');
        frameslider.addEventListener('change', () => {
          framevalue.textContent = frameslider.value;
        })
      </script>
      <!--"Send Frame Size" button-->
      <input type="submit" name="sizesubmit" value="Send Frame Size">
    </div>

    <!---->
    <div>
      Wait Between Sending Frames: {{ responsewait }}ms
    </div>
    <!--Set the fps-->
    <div>
      FPS:
      {%for i in [30,20,15,12,10,8,5,4,3,2,1]%}
      <input type="submit" name="fps_{{i}}" value="{{i}} FPS" {%if fps==i%} style="background-color: lightblue;"
        {%endif%}>
      {%endfor%}
    </div>
    <!--All of the code below controls the cameras like when to stop/start recording and the turn of the camera-->
    {%for i in range(0, camerasconnected)%}
    <div>
      <input type="submit" name="startvs{{i+1}}" value="Start VS {{i+1}}">
      <input type="submit" name="stopvs{{i+1}}" value="Stop VS {{i+1}}">
      <input type="submit" name="relaunchvs{{i+1}}" value="Relaunch VS {{i+1}}">
      <!-- <input type="submit" name="startrecordvs{{i+1}}" value="Start Recording VS {{i+1}}" {%if recordingstreams[i]%}
        style="background-color: red;" {%endif%}>
      <input type="submit" name="stoprecordvs{{i+1}}" value="Stop Recording VS {{i+1}}"> -->
      <input type="submit" name="recordvs{{i+1}}" value="Record" {%if recordingstreams[i]%}
        style="background-color: red;" {%endif%}>
      <input type="submit" name="movetoleft{{i+1}}" value="Move to Left">
      <input type="submit" name="rotate{{i+1}}" value="Rotate 90 Degrees">
      New resolution: 
      <input type="text" name="relaunchvsres{{i+1}}">
      <!-- <input type="submit" name="stoprecordvs{{i+1}}" value="Stop Recording VS {{i+1}}"> -->

    </div>
    {%endfor%}
  </form>
</body>
</html>